

#pane{
        -fx-background-image: url("../images/pond.jpg");
        -fx-background-repeat: stretch;   
        -fx-background-size: 100% 100%; 
        -fx-background-position: center center;
        -fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0); 
}


.root {
       -fx-background-image: url("https://www.google.com/images/srpr/logo3w.png");
       -fx-background-repeat: stretch;   
}